<a href="https://colab.research.google.com/github/pse843/Coursera_Capstone/blob/master/DF_Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Notebook is for Peer-graded Assignment of Week 3: Segmenting and Clustering Neighborhoods in Toronto.

In [0]:
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, attrs={"class": "wikitable"})[0] 
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
condition=df['Borough'] != 'Not assigned'
df[condition]

    Postal Code  ...                                       Neighborhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [0]:
df = df[condition]

In [6]:
df.shape

(103, 3)

In [0]:
url = "http://cocl.us/Geospatial_data"
df_co=pd.read_csv(url)

In [8]:
df_co.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [76]:
df_joined = df.join(df_co.set_index('Postal Code'), on='Postal Code')
df_joined.head()

  Postal Code           Borough  ...   Latitude  Longitude
2         M3A        North York  ...  43.753259 -79.329656
3         M4A        North York  ...  43.725882 -79.315572
4         M5A  Downtown Toronto  ...  43.654260 -79.360636
5         M6A        North York  ...  43.718518 -79.464763
6         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]